{% extends "accounts/base.html" %}

{% load static %}

{% block css %} 
{% endblock %}

{% block main %}
<div class="container">
    {% for message in messages %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
   {% endfor %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
               <div class="card-header">Forgot Password</div>
               <div class="card-body">
                 <form method="post" action="{% url 'password_reset_request' %}">
                     {% csrf_token %}  
                     <div class="form-group">
                           <label for="email">Email address</label>
                           <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email" placeholder="Enter email">
                           <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                       </div>
                       <button type="submit" class="btn btn-primary">Send Reset Link</button>
                   </form>
               </div>
            </div>
        </div>
    </div>
</div>

{% endblock  %}

{% block script %}
<script>
    document.getElementById('forgotPasswordForm').addEventListener('submit', function(event) {
        var email = document.getElementById('email').value;

        var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

        if (!emailRegex.test(email)) {
            alert('Invalid email address.');
            event.preventDefault();
        }
    });
</script>

{% endblock %}