<!DOCTYPE html>
<html>
<head>
   <title>Sales Report</title>
   <style>
       body {
           font-family: Arial, sans-serif;
       }
       table {
           width: 100%;
           border-collapse: collapse;
       }
       th, td {
           border: 1px solid #000;
           padding: 8px;
           text-align: left;
       }
       th {
           background-color: #f2f2f2;
       }
   </style>
</head>
<body>
   <h1>Sales Report</h1>
   <table>
       <thead>
           <tr>
               <th>ID</th>
               <th>Order Date</th>
               <th>Products</th>
               <th>User</th>
               <th>Price</th>
               <th>Quantity</th>
               <th>Payment Method</th>
           </tr>
       </thead>
       <tbody>
           {% for order in orders %}
                <tr>
                    <td>{{ order.order_id }}</td>
                    <td>{{ order.created_at }}</td>
                    <td>
                        {% for item in order.orderitem_set.all %}
                            {{ item.variant.product_id.name }},
                        {% endfor %}
                    </td>
                    <td>{{ order.user.name }}</td>
                    <td>{{ order.total_price }}</td>
                    <td>{{ order.orderitem_set.count }}</td>
                    <td>
                        {% if order.payment == 'COD' %}
                            Cash on Delivery
                        {% elif order.payment == 'online' %}
                            Online Payment
                        {% else %}
                            Wallet
                        {% endif %}
                    </td>
                </tr>
           {% endfor %}
       </tbody>
   </table>
</body>
</html>
