
{% extends "myadmin/adminbase.html" %}

{% block css %} 

{% endblock %}


{% block main %}


  <div class="container-fluid">
    <div class="row justify-content-center">

      <!-- Content area -->
      <div class="col-sm-9 col-md-10 pt-3">
        <div class="jumbotron text-center admin-box" style="background-color: #aeacb9;">
          <h1 class="display-4 admin-card">Welcome <span th:text="${username}"
              style="font-weight: bold; color: white;"></span></h1>

          <p class="admin-card">Easily manage your profile </p>
        </div>
        <label for="chartType"></label><select id="chartType">
          <option value="daily">Daily Chart</option>
          <option value="monthly">Monthly Chart</option>
          <option value="yearly">Yearly Chart</option>
        </select>

        <div class="center-container">
          <canvas id="myChart" style="display: flex;
                 justify-content: center ; align-items: center; "> </canvas>
        </div>

      </div>
    </div>
  </div>

  {% endblock %}


  {% block script %}

  {% endblock %}