{% extends 'myadmin/adminbase.html' %}

{% block main %}
 <div class="container mt-5">
   <h1>{{ product.name }} - Detail</h1>

   <div class="row">
     <div class="col-md-6">
       <p>Description: {{ product.description }}</p>
       <p>Price: ${{ product.price }}</p>
       <p>Rating: {{ product.get_rating_display }}</p>
       <p>Star: {{ product.get_star_display }}</p>
     </div>
     <div class="col-md-6">
       <!-- Display additional product images in a carousel -->
       <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
         <div class="carousel-inner">
           {% for image in images %}
             <div class="carousel-item {% if forloop.first %}active{% endif %}">
               <img src="{{ image.image.url }}" alt="Product Image" class="d-block w-100">
             </div>
           {% endfor %}
          
         </div>
         <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
           <span class="carousel-control-prev-icon" aria-hidden="true"></span>
           <span class="visually-hidden">Previous</span>
         </button>
         <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
           <span class="carousel-control-next-icon" aria-hidden="true"></span>
           <span class="visually-hidden">Next</span>
         </button>
       </div>
     </div>
   </div>

   <a href="{% url 'product_list' %}" class="btn btn-primary">Back to Product List</a>
 </div>

{% endblock %}
