{% extends 'myadmin/adminbase.html' %}

{% block main %}
  <div class="container mt-5">
    <h1>Product List</h1>
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Category</th>
          <th>Image</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
          <tr>
            <td>{{ product.name }}</td>
            <td style="max-width: 300px;">{{ product.description }}</td>
            <td>{{ product.price }}Rs</td>
            <td>{{ product.category.name }}</td>
            <td>
              {% for img in product.productimages_set.all %}
                {% if forloop.first %}
                  <img src="{{ img.image.url }}" alt="{{ product.name }}" class="img-thumbnail" style="max-height: 50px;">
                {% endif %}
              {% endfor %}
            </td>
            <td >

              <a href="{% url 'edit_product' product_id=product.id %}" class="btn btn-primary btn-sm mt-2">Edit</a>
              <a href="{% url 'delete_product' product_id=product.id %}" class="btn btn-danger btn-sm mt-2">Delete</a>

             <div><a href="{% url 'add_variant' product_id=product.id %}" class="btn btn-success btn-sm mt-2">Add Variant</a></div> 

            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% for s in size %}
<p> {{s.size}} </p>
{% endfor %}
    <a href="{% url 'add_product' %}" class="btn btn-success">Add Product</a>
  </div>
{% endblock %}
