
{% extends "users/ubase.html" %}
{% load static %}
{% block css %}
<style>
    .filter {
        padding: 20px;
        margin: 0 ;
        width: 20%;
        display: flex;
     }
     .Apply {
        background-color:grey; 
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
     }
     select {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 4px;
        background-color: #f1f1f1;
        font-size: 16px;
     }
     .Apply:hover {
        opacity: 0.8;
        border: 1px solid black;
     }
     
     select:hover {
        background-color: lightgray;
        
     }
                    
</style>

<link rel="stylesheet" href="{% static "css/hstyle.css" %} ">
{% endblock %}

{% block main %}
<div class="container mt-5">
    <h2 class="text-center m-3">Our Products</h2>
    {% if category %}
    <form class="filter" method="get" action="{% url 'c_shop' category.name %}">
    {% else %}
    <form class="filter" method="get" action="{% url 'shop' %}">
        {% endif %}
        <select name="sort">
            <option value="default">Default</option>
            <option value="low_to_high">Low to High Price</option>
            <option value="high_to_low">High to Low Price</option>
        </select>
        <button class="btn Apply ms-3" type="submit" >Apply</button>
    </form>


    <div class="row mt-4">
        <!-- Product 1 -->
        {% for product in products %}
        <div class="col-md-4 mb-4">
         
            <div class="product-card">

             <button class="wishlist-btn" onclick="toggleWishlist(this)"><i class="far fa-heart"></i></button>
             <a href="{% url 'single_product' product_id=product.id %}" class="prod-det">
                {% for img in product.productimages_set.all %}
                {% if forloop.first %}
                  <!-- Display only the first image with a responsive class -->
                  <img src="{{ img.image.url }}" alt="{{ product.name }}" class="product-img img-fluid">
                {% endif %}
              {% endfor %}</a>
                
                <div class="product-info">
                    {% comment %} <div class="rating-box">4.1<i class="fas fa-star"></i></div> {% endcomment %}
                    <h5 class="product-name"> {{product.name}} </h5>
                    {% with first_variant=product.variant_set.first %}
                    {% if first_variant %}
                        <p class="product-price">Price: {{ first_variant.price }}</p>
                    {% endif %}
                    {% endwith %}
                </div>
              
            </div>
        </div>
        {% endfor %}

   </div>
</div>
{% endblock main %}