{% extends "users/ubase.html" %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static "css/userprofile.css" %} ">
<style>
  table {
    width: 100%;
    margin-top: 20px;
}

 th  {
    border: 1px solid #dee2e6;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f8f9fa;
}
</style>

{% endblock %}



{% block main %}

<div class="container-fluid">
  {% for message in messages %}
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
 {% endfor %}


 <div class="col-md-4 d-flex " id="profile-card">
    <i class="fa-solid fa-circle-user fa-2xl" style="color: #000000; margin-top: 20px; margin-left: 8px; "></i>
      <div class="DxGiT2 ">
        <div class="_2QZ3Er mb-2" style="margin-left:10px;  font-size:0.6rem">Hello</div>
        <div class="_1ruvv2 ms-2" style="font-size:1rem"> {{user.name}} </div>
        </div>
      </div>

    <nav id="sidebar" class="col-md-4 d-md-block sidebar">
      <div class="position-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fas fa-heart icon "></i>Wishlist
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fas fa-shopping-cart icon"></i>My Cart
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fas fa-wallet icon"></i> My Wallet
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fas fa-clipboard-list icon"></i>My Orders
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fas fa-reply icon"></i>Returns
            </a>
          </li>
        </ul>
        <button id="logout-btn" class="btn btn-danger"><i class="fas fa-sign-out-alt me-2"></i>Logout</button>
      </div>
    </nav>

    <main class="col-md-8 ms-sm-auto col-lg-8 border" id="user-profile">
        <div class="cart-items col-lg-8">
            <h2>Your Cart</h2>
            <table class="table">
                <thead>
                    <tr>
                       <th>Order Id</th>
                       <th>Order Date</th>
                       <th>Total price</th>
                       <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                                       
                 <td>{{ order.order_id }} 
                 </td>
                       <td>
                        {{ order.created_at|date:"D d M Y" }}
                       </td>
                       <td>{{ order.total_price }}</td>
                       <td>{{ order.total_price }}</td>
                       <td><a href="">View</a></td>

                        {% comment %} <td><a href="{% url 'remove_cart_item' itemid=item.id %}"></a>view</td> {% endcomment %}
                     </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</div>
{% endblock %}