{% extends "users/ubase.html" %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static "css/userprofile.css" %} ">
<style>
  .order-card {
    border: 1px solid #dee2e6;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

  table {
    width: 100%;
    margin-top: 20px;
}

 th  {
    border: 1px solid #dee2e6;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f8f9fa;
}
</style>

{% endblock %}



{% block main %}

<div class="container-fluid">
  {% for message in messages %}
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
 {% endfor %}


 <div class="col-md-4 d-flex " id="profile-card">
    <i class="fa-solid fa-circle-user fa-2xl" style="color: #000000; margin-top: 20px; margin-left: 8px; "></i>
      <div class="DxGiT2 ">
        <div class="_2QZ3Er mb-2" style="margin-left:10px;  font-size:0.6rem">Hello</div>
        <div class="_1ruvv2 ms-2" style="font-size:1rem"> {{user.name}} </div>
        </div>
      </div>

    <nav id="sidebar" class="col-md-4 d-md-block sidebar">
      <div class="position-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="{% url "wishlist" %}">
              <i class="fas fa-heart icon "></i>Wishlist
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "cartitems_list" %}">
              <i class="fas fa-shopping-cart icon"></i>My Cart
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "wallet" %}">
              <i class="fas fa-wallet icon"></i> My Wallet
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "user_orders" %}">
              <i class="fas fa-clipboard-list icon"></i>My Orders
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fas fa-reply icon"></i>Returns
            </a>
          </li>
        </ul>
        <button id="logout-btn" class="btn btn-danger"><i class="fas fa-sign-out-alt me-2"></i>Logout</button>
      </div>
    </nav>

    <main class="col-md-8 ms-sm-auto col-lg-8 border" id="user-profile">
      <div class="cart-items col-lg-8">
          <h2>Your Orders</h2>

          {% for order in orders %}
          <div class="order-card">
              <h4>Order ID: {{ order.order_id }}</h4>
              <p>Order Date: {{ order.created_at|date:"D d M Y" }}</p>
              <p>Status: {{ order.order_status }}</p>
              <p>Total Price: {{ order.total_price }}</p>
              <a href="{% url 'order_detail' oid=order.order_id %}" class="btn btn-primary">View Details</a>
          </div>
          {% endfor %}

      
      </div>
  </main>
  <nav aria-label="..." >
    <ul class="pagination mb-5" >
        {% if orders.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="First">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ orders.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}

        {% for i in orders.paginator.page_range %}
            <li class="page-item {% if orders.number == i %}active{% endif %}">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
        {% endfor %}

        {% if orders.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ orders.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ orders.paginator.num_pages }}" aria-label="Last">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
</div>
{% endblock %}